.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: rgb(238, 238, 238);
  height: 40px;
}

.header-products, .header-orders {
  padding: 15px;
  line-height: 40px;
}

.button {
  background: #3dd28d;
  color: #FFFFFF;
  margin: 10px;
  border: 0 none;
  border-radius: 4px;
}
  
.button:hover {
  transition: all 60ms ease;
  opacity: .85;
}
  
.button:active {
  transition: all 60ms ease;
  opacity: .75;
}

select {
  border: 0;
  color: #FFFFFF;
  padding: 2px 10px;
  width: 50px;
  background: #3dd28d;
}

.add-product-select {
  width: 200px;
  margin: 7.5px;
}

.product {
  display: inline-block;
  margin: 5%;
}

.product-image {
  height: 300px;
  width: 200px;
  -webkit-border-radius: 20px;
	-moz-border-radius: 20px;
  border-radius: 20px;
}

.product-image-order {
  height: 150px;
  width: 100px;
  -webkit-border-radius: 20px;
	-moz-border-radius: 20px;
  border-radius: 20px;
}

.product-name {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 20px;
}