.App {
  text-align: center;
}

.header {
  background-color: rgb(238, 238, 238);
  height: 40px;
}

.header-products, .header-orders {
  padding: 15px;
  line-height: 40px;
}

.product {
  display: inline-block;
  margin: 5%;
}

.product-image {
  height: 300px;
  width: 200px;
}
